// Background
$color__background-body: #121212;
$color__background-light: #fff;
$color__background-screen: #05071a;
$color__background-selection: #000;

// Text
$color__text-main: #fff;
$color__text-light: #fff;
$color__text-dark: #121212;
$color__text-screen: #121212;

// Link
$color__link: #05071a;
$color__link-hover: #fff;
$color__text-selection: #fff;

// Button
$color__background-button: #1a1a1a;
$color__background-button-hover: rgba(#5a768e, 100%);

$color__border-button: #1a1a1a;
$color__border-button-hover: rgba(#5a768e, 100%);

$color__text-button: #fff;
$color__text-button-hover: lighten(#1a1a1a, 100%);

// Border
$color__border-dark: #1a1a1a;
$color__border-blue: #5a768e;
$color__border-input: #000;
$color__border-abbr: #fff;
